
/** {
    margin: 0;
}*/

/*html, body {
    height: 100%;
}*/
body {
    color:#444;
}
.req::before {
    content: '*';
    color: #770000;
    font-weight: bold;
}
.form-control[readonly] {
    cursor:default;
    background-color:#fcfcfc;
}
input.amt::before {
    content: '$';
}
.contentarea {
    padding-bottom: 2em;
}
    /* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
  height:auto;
  overflow-y: scroll;
  overflow-x: hidden;
}
body {
  /* Margin bottom by footer height */
 
  margin-bottom: 7em;
}
footer {
  position: absolute;
  bottom: 0;
  width:100%;
  /* Set the fixed height of the footer here */
  height:7em;
}
/*------------------*/

header .navbar-nav > li a.btn-fileclaim {
    color: white;
    font-weight: bold;
    border-radius: 2px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    background: rgb(255, 128, 0); /* this is an orange */
}

header .navbar-nav > li a.btn-blue {
    color: white;
    font-weight: bold;
    border-radius: 2px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    background-color: #36a4c6;
    border-color: #36a4c6;
}

.btn-submit {
    color: #fff;
    font-size:1em;
    font-weight:600;
    background-color: #36a4c6;
    border-color: #36a4c6;
    padding: .5em 2.5em;
    margin: 1em auto;
   
}

a.here {
    font-weight:700;
    text-decoration:underline;
}
.centertext, h2 {
    text-align:center;
}
.Module_PageHeading.Flat {
    background-color:#002e6a !important;
    height:auto;
}
li.mediaFolder {
    list-style-type: none;
}
span.field-validation-error {
    color:red;
}
label.sticky, input.sticky {
    display: none;
}
label.error {
    color:red;
    font-weight:400;
}
fieldset {
    margin: 1em 0;
}

.sp2em {
    margin-right:2em;
}
.logo {
    height: auto;
    width: auto;
  }

.exemplar {
    max-width:960px;
    margin:0 auto;
}


@media (max-width: 479px) {
.logo {
  margin:0;
  }
}
.ui-datepicker {
	background-color: #fff;
	border: 1px solid #66AFE9;
	border-radius: 4px;
	box-shadow: 0 0 8px rgba(102,175,233,.6);
	display: none;
	margin-top: 4px;
	padding: 10px;
	width: 240px;
}
.ui-datepicker a,
.ui-datepicker a:hover {
	text-decoration: none;
}
.ui-datepicker a:hover,
.ui-datepicker td:hover a {
	color: #2A6496;
	-webkit-transition: color 0.1s ease-in-out;
	   -moz-transition: color 0.1s ease-in-out;
	     -o-transition: color 0.1s ease-in-out;
	        transition: color 0.1s ease-in-out;
}
.ui-datepicker .ui-datepicker-header {
	margin-bottom: 4px;
	text-align: center;
}
.ui-datepicker .ui-datepicker-title {
	font-weight: 700;
}
.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
	cursor: default;
	font-family: 'Glyphicons Halflings';
	-webkit-font-smoothing: antialiased;
	font-style: normal;
	font-weight: normal;
	height: 20px;
	line-height: 1;
	margin-top: 2px;
	width: 30px;
}
.ui-datepicker .ui-datepicker-prev {
	float: left;
	text-align: left;
}
.ui-datepicker .ui-datepicker-next {
	float: right;
	text-align: right;
}
.ui-datepicker .ui-datepicker-prev:before {
	content: "\e079";
}
.ui-datepicker .ui-datepicker-next:before {
	content: "\e080";
}
.ui-datepicker .ui-icon {
	display: none;
}
.ui-datepicker .ui-datepicker-calendar {
  table-layout: fixed;
	width: 100%;
}
.ui-datepicker .ui-datepicker-calendar th,
.ui-datepicker .ui-datepicker-calendar td {
	text-align: center;
	padding: 4px 0;
}
.ui-datepicker .ui-datepicker-calendar td {
	border-radius: 4px;
	-webkit-transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
	   -moz-transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
	     -o-transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
	        transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
}
.ui-datepicker .ui-datepicker-calendar td:hover {
	background-color: #eee;
	cursor: pointer;
}
.ui-datepicker .ui-datepicker-calendar td a {
	text-decoration: none;
}
.ui-datepicker .ui-datepicker-current-day {
	background-color: #4289cc;
}
.ui-datepicker .ui-datepicker-current-day a {
	color: #fff
}
.ui-datepicker .ui-datepicker-calendar .ui-datepicker-unselectable:hover {
	background-color: #fff;
	cursor: default;
}
@media print {
   
    #barcode 
{
    font-weight: normal;
     font-style: normal;
      line-height:normal;
      font-family: sans-serif;
       font-size: 12pt
       }

    footer, header {
        display:none;
    }
   .pagebreak {page-break-after: always;}
}
