@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br /><br /><br />
<p class="centertext">
    <strong>An error has occurred. Please <a href="@Url.Action("Index", "Claimant")">try again</a>.</strong>
</p>