@{
    ViewBag.Title = "PageNotFound";
}

<p class="centertext">
    <strong>That document was not found. Please <a href="@Url.Action("Index", "Claimant")">try again</a> or contact the claims administrator.</strong>
</p>